@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;700&display=swap');

body{
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

header{
  z-index: 10001 !important;
}
.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-16 px-4;
}

.subtitle{
  @apply text-[#ff3333] uppercase tracking-wide font-medium text-lg font-bold;
}

.title{
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug text-[#262626];
}

.heartStar{
  border-radius: 0px 28px 0px 28px ;
}

.active {
  color: black;
  background: #C1F1C6;
  border-radius: 5px;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}